body{
    background-color: hsl(222, 26%, 31%);
    font-weight: 700;
    font-family: 'League Spartan', sans-serif;
}

.container{
    height: 100%;
    width: 100%;
    background-color: hsl(222, 26%, 31%);
    display: flex;
    text-align: center;
    justify-content: center;
}

.keypad{
    background-color: hsl(223, 31%, 20%);
    padding: 15px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.screen{
    border-radius: 5px;
    text-align: right;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    background-color: hsl(224, 36%, 15%);
    padding: 10px;
    margin: 8px;
}

.transparent-textbox {
    background-color: transparent;
    border-color: transparent;
    color: white;
    padding: 15px;
    font-size: 16px;
    border-radius: 5px;
    width: 300px;
  }

  .calculator form input{
    border: 0;
    outline: 0;
    width: 68px;
    height: 40px;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
    box-shadow: -8px -8px 15px hsl(30, 25%, 89%), 5px 5px -15px hsl(30, 25%, 89%);
    font-size: 20px;
    color: hsl(221, 14%, 31%);
    cursor: pointer;
    margin: 5px;
    font-family: 'League Spartan', sans-serif;
    font-weight: 700;
}

.calculator form .key input{
    width: 150px;
}

input[value="="]{
    background-color: hsl(6, 63%, 50%);
    color: white !important; 
}

input[value="RESET"]{
    background-color: hsl(225, 21%, 49%);
    color: white !important;
}

input[value="DEL"]{
    background-color: hsl(225, 21%, 49%);
    color: white !important;
}

form .display{
    display: flex;
    justify-content: flex-end;
    margin: 8px 0;
}

form .display input{
    text-align: right;
    flex: 1;
    font-size: 35px;
    box-shadow: none;
    background-color: hsl(224, 36%, 15%);
    color: white;

}

